*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(86, 86, 86);
}

header{
    background-color: rgb(92, 140, 207);
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 0.6em;
}
main{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
}

header .headertext{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 88vw;
}
header h1 {
    margin-left: 5vw;
    color: white;
    font-size: clamp(2vh,3.7em,11vw);
}
header h2{
    color: white;
    align-self:flex-end;
    font-size: clamp(1vh,1.5em,5vw);
    margin-left: 1vw;
    margin-bottom: 1.2vh;
}
header .headerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
header a{
    background: url(img/Senac_logo.svg.png);
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 9vw;
    height: 15vh;
}

.person1, .person2, .person3, .person4{
    border-radius: 0.6em;
    height: 100%;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.person1:hover, .person2:hover, .person3:hover, .person4:hover{
    opacity: 60%;
    border-width: 10px;
}
.person1{
    background-color: purple;
}
.person2{
    background-color: blue;
}
.person3{
    background-color: brown;
}
.person4{
    background-image: url('./img/benners.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -4em;
}
footer{
    height: 12vh;
    width: 100vw;
    background-color: gray;
    margin-top: 8vh;
}
.p_footer{
    margin-right: 0.5vw;
    float: left;
}
.p_footer a{
    text-decoration: none;
    color: black;
}
.imagem_footer{
    margin-left: 5vw;
    margin-top: 1vh;
}
.div1_footer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.div2_footer{
    margin-top: 6vh;
    margin-left: 3vw;
}
.title-mark{
    padding: 2% 5%;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.title-mark h3{
    font-size: 15px;
    margin-top: 1%;
}
.title-mark hr{
    margin-top: 5%;
    width: 80%;
}
.text{
    display: flex;
    flex-direction: column;
}
.text-mark{
    width: 90%;
    margin: 1% 5%;
}
.text-mark img{
    margin-top: 2%;
    width: 70%;
    height: 400px;
}
.text-mark p{
    font-weight: bold;
    margin-top: 2%;
    text-indent: 30px;
}
.image-mark img{
    height: 400px;
}
.personTop{
    height: 58%;
    width: 100%;
}
.personName{
    font-size: clamp(1vh,1.5em,1.5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 35%;
    text-align: center;
    color: white;
}
.personName h1:hover{
    font-size:clamp(1vh,3em,4vw) ;
}